*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.Contenedor_LandingPage{
    background: black;
    height: auto;
    min-height: 100vh;
    color: #fff;
    display: grid;
    grid-template-rows: 1fr 16fr;
}

.Contenedor_Header_Landing_Page{

}