.Contenedor_Info_Landing{
    margin: 70px 0px 0px 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    -background: red;
}

.Panel_Izquierdo_Landing{
    width: 100%;
  
}

.Panel_Derecho_Landing{
    width: 100%;
    height: auto;
    perspective: 1000px;
    
}
.Panel_Derecho_Landing img{
    border-radius: 30px;
    width: 90%;
    height: auto;
    transform: rotateY(-20deg); /* Adjust the angle for the desired effect */
    transform-origin: left center;
}

.Titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: #fff;
}

.Subtitulo_Uno{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: #FFFF00;
}

.Subtitulo_Dos{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: #fff;
}

.Parrafo_EasyBank{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #fff;
    width: 50%;
    margin-top: 25px;
}

.Contenedor_Temas{
    height: auto;
    margin-top: 80px;
    display: flex;
    gap: 25px;
}


.animated{
    animation: animar .3s linear;
}
.animated2{
    animation: animar2 .3s linear;
}
.animated3{
    animation: animar3 .3s linear;
}
.animated4{
    animation: animar4 .3s linear;
}

@keyframes animar {
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(-0px);
    }
}

@keyframes animar2 {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-0px);
    }
}

@keyframes animar3 {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(-0px);
    }
}

@keyframes animar4 {
    0%{
        transform: scale(0.4);
    }
    100%{
        transform: scale(1);
    }
}